.title {
  font-style: italic;
  font-size: xx-large;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstSection {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.secondSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

.navTitle {
  font-weight: normal;
  font-size: medium;
  color: black;
}

.menuButton {
  position: relative;
  border: 1px solid black;
  padding: 5px 1.5rem;
  border-radius: 20px;
  transition: border-color 0.4s ease-in, transform 0.4s ease-in, color 0.4s;
  cursor: pointer;
  overflow: hidden;
}

.menuButton:hover {
  border-color: rgba(99, 88, 238, 1);
  transform: scale(110%);
  color: white;
}

.menuButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(
    82.3deg,
    rgba(99, 88, 238, 1) 10.8%,
    rgba(150, 93, 233, 1) 94.3%
  );
  transition: all 0.5s;
}

.menuButton:hover::before {
  transform: scaleX(1);
}

.buttonContent {
  position: relative;
  z-index: 1;
}
